@page "/"
@using System.Text;
@using Image.Analyze.Azure.Ai.Lib;
@using Image.Analyze.Azure.Ai.Models;
@using Ocr.Handwriting.Azure.AI.Services;
@using global::Azure.AI.Vision.Common;
@using global::Azure.AI.Vision.ImageAnalysis;
@using global::Azure;
@using Image.Analyze.Azure.Ai.Extensions;

@inject IImageSaveService ImageSaveService
@inject IImageAnalyzerService ImageAnalyzerService
@inject IJSRuntime JsRunTime

App that load and analyze using Azure Cognitive Services - Image Vision Analyzing service.

<span>@ImageInfo</span>

<EditForm Model="Model" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />

    <div class="container">
        <div class="row align-items-start">
            <div class="col">

                <label><b>Select a picture to run Image Analysis with</b></label><br />
                <InputFile OnChange="@OnInputFile" accept=".jpeg,.jpg,.png" />
                <br />
                <code class="alert-secondary">Supported file formats: .jpeg, .jpg and .png</code>
                <br />
            </div>
        </div>
        <div class="col">
            <h3 class="FancyCaption">@Model.Caption</h3>
        </div>
    </div>

    <div class="container overflow-scroll">
        <div class="row align-items-start">
            <div class="col overflow-scroll">
                <label class="alert-info">Preview of the selected image</label>
                <div>
                    <img id="PreviewImage" style="min-width:640px;min-height:359px;border:1px solid black;" src="@Model.PreviewImageUrl" onload="rescaleCanvas()" /><br />
                </div>
            </div>
            <div class="col overflow-scroll">
                <label class="alert-info">Image with bounding boxes</label>
                <canvas id="PreviewImageBbox" style="border:solid 1px black">
                </canvas>
                <br />
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <code class="alert-light">File Size (kB): @Model.FileSize</code>
                <code class="alert-light">File saved location: @Model.SavedFilePath</code>
            </div>
            <div class="col">
                <br />
                <br />
                <button class="btn btn-outline-success" title="Click this button to run analysis on selected image" type="submit">Submit</button> <button style="margin-left:200px" type="button" class="btn-outline-info" @onclick="@CopyTextToClipboard">Copy to clipboard</button>
                <br />
                <br />
            </div>
        </div>
        <div class="row align-items-start">
            <div class="col">
                <InputTextArea style="width:500px;height:300px" readonly="readonly" placeholder="Detected text in the image uploaded" @bind-Value="Model!.ImageAnalysisOutputText" rows="5"></InputTextArea>
            </div>
            <div class="col">
                <table class="table">
                    <th>Tags extracted from the image</th>
                    @foreach (var tag in @Model.Tags)
                    {
                        <tr>
                            <td>@tag</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</EditForm>